body{
    background-color: #017d4579;   
}

.geral{
    background-color:#ececec;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    width: 532px;
	height: 932px;
}

div{
    margin: auto;
    margin-top: 15px;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    margin-top: 70px;   
}

h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #038B4E;   
    margin-top: 40px; 
}

.dados{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;       
}

mark{
    background-color: #038B4E;
}

.textfield > input{
    width: 100%;
    max-width: 400px;
    border:none;
    border-radius: 40px;
    padding: 15px;
    background: #ffffff;
    border: 2.5px solid #038B4E;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    font-family: 'Poppins', sans-serif;
}

.textfield-cadastro > input{
    width: 100%;
    max-width: 400px;
    border:none;
    border-radius: 40px;
    padding: 10px;
    background: #ffffff;
    border: 2.5px solid #038B4E;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    font-family: 'Poppins', sans-serif;
}

.textfield > label {
    color:#f0ffffde;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

.btn-login {
    width: 100%;
    max-width: 360px;
    padding: 16px 0px;
    margin: 30px;
    border:none;
    border-radius: 40px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#ffffff;
    background: #038B4E;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.senha{
    border:none;
    color: #000;
    text-decoration: #000;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


#logo_cliente{
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 15px auto;
}